

<section class="books-cont">
<div >

    <h1><%= book.title %></h1>
    <h3> Author: <%= book.author_name %> </h3>

 
  
   
    
   


     <%=  link_to  "See Book" , book_path(book.id)%>

  </div>
</div>
</section>