<%= form_tag(books_path, method: :get) do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search books...' %>
  </div>
  <div class="form-group">
    <%= select_tag :search_by, options_for_select(['Title', 'ISBN', 'Author', 'Publisher'], params[:search_by]), class: 'form-control' %>
  </div>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>
