

<main class="author-about-container">
   <h1>
   <%= @book.title%>

   </h1>
    <div class="author-detaabout">
       <p>
         <%= @book.review %>
         </p>


</main>
<div class="addpub-back-link">
<%= link_to 'Back', book_path(@book.id) %>
</div>

