<main class="main-container"> 





<% if can?  :manage, @books, @authors   %>
 <%= render partial: "admin/admin_panel" %>
<%end%>






<h1>BooksStore</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
  
  <% end %>
</div>
<div class"pagination">
<%= will_paginate @books %>
</div>
</main>

