<main class="main-container"> 
<section class="section-left">
<% if can?  :manage, @books, @authors   %>
<div class="admin-panel"
 <%= render partial: "admin/admin_panel" %>
</div>
 <%else%>
 <%if user_signed_in?%>
 <section class="browser">
 <p>Browse books</p>
 </section>
  <%end%>
 <%end%>
</section>




<section class="section-right">
<div class="flash-messages-logged">
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
</div>
<% if @user == "admin"%>
<h1 class="logged-title"> Welcome Admin! </h1>




<%else%>
<h1  class="logged-title"> Welcome to the Bookstore! </h1>

<%end%>


<div class="books-list ">

    <%= render partial:  '/books/book' %>
  

</div>
<div class="pagination-logged">
<%= will_paginate @books %>
</div>

</section>

</main>

