<main class="main-container"> 
<section class="books-titles">

<h1>Welcome to the BooksStore</h1>
<h3>Browse books or log in to add them to your whishlist</h3>
</section>




<% if can?  :manage, @books, @authors   %>
 <%= render partial: "admin/admin_panel" %>
<%end%>







<div class="books">
  <% @books.each do |book| %>
    <%= render book %>
  
  <% end %>
</div>
<div class"pagination">
<%= will_paginate @books %>
</div>
</main>

