@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Montserrat&family=Ubuntu:wght@400;500&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color:whitesmoke ;
}


/*navbar*/
.navbar-container{
    background-color: rgb(71, 80, 160);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0.5vw;
    margin: 0;
    border-radius: 5px;
    position: fixed;
    width: 98%;
    height: 5vw;
    top: 0.2vw;
    left : 0.4vw;
   

}
.brand{
    font-size: 3vw;
    color: whitesmoke;
    font-weight: 500;
} 


.search-books-container{
    background-color: transparent;
    display: flex;
    width: 20vw;
    height: 2.5vw;
    justify-content: space-around;
}
.search-books-form{
    background-color: transparent;
    display: flex;
    width: 35vw;
    height: 3vw;
    justify-content: space-between;
}
.search-books-form input{
    width: 15vw;
    height: 1.8vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;

}
.search-select{
    width: 10vw;
    height: 2.9vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
    margin: 0 1.2vw;
}
.search-btn{
    background-color: rgb(217, 221, 236);
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: 1.2vw;

}
.search-btn:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;
}

.logout-btn{
    background-color: rgb(233, 233, 228);
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: 1.2vw;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    transition: 1s;
    height: 3vw;
}
.logout-btn:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;
}
.login-btn{
    background-color: rgb(233, 233, 228);
    margin-right: 1vw;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    transition: 1s;
    height: 1.8vw;
    width: 5vw;
    text-decoration: none;
    text-align: center;
}
.register-btn{
    background-color: rgb(14, 32, 90);
    margin-right: 1vw;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    transition: 1s;
    height: 1.8vw;
    width: 5vw;
    text-decoration: none;
    text-align: center;
  
}
.nav-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 20vw;
    height: 2.5vw;
}



/* -------------home----------------*/
.home-container{
    background-color: rgb(222, 230, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 60%;
    height : 80vh;

    margin-top: 8vw;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;;
    box-shadow: 0 0 10px 0 rgba(8, 11, 216, 0.5);  
}
.home-container h1{
    font-size: 3vw;
    font-weight: 700;
margin-top: 5vw;
    color: rgb(15, 2, 73);
}
.home-container h3{
    font-size: 1.6vw;
    font-weight: 500;
    margin: 1vw;
    color: rgb(15, 2, 73);
}
.books-home{
height: 30vw;
 width: 60vw;
 
}
.book-home{
    background-color: rgb(222, 230, 222);
    height: 4vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}
.book-home-logged{
    background-color: rgb(222, 230, 222);
    height: 5vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

.book-title{

    height: 3vw;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-content: center;
}

.book-title-logged{
    height: 5vw;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-content: center;
   

}
.book-title-logged h3{
    font-size: 1.1vw;
    font-weight: 700;
    line-height: 1.2vw;
    margin: 0;
    padding: 0;
    width: 15vw;
    text-align: center;
    
}
.book-title-logged p{
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.2vw;
    margin: 0.1vw;
    padding: 0;
    width: 10vw;
    text-align: center;

  
}


.book-author{
    height: 3vw;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-content: center;

}
.book-author-logged{
    height: 5vw;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-content: center;
    


}
.book-author-logged h3{
    font-size: 1.1vw;
    font-weight: 700;
    line-height: 1.2vw;
    margin: 0;
    padding: 0;
    width: 15vw;
    text-align: center;
    
}
.book-author-logged p{
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.2vw;
    margin: 0.1vw;
    padding: 0;
    width: 10vw;
    text-align: center;

  
}
.book-home h3{
    font-size: 1.1vw;
    font-weight: 700;
    line-height: 1.2vw;
    margin: 0;
    padding: 0;
    width: 20vw;
    text-align: center;
    
}
.book-home p{
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.2vw;
    margin: 0.1vw;
    padding: 0;
    width: 10vw;
    text-align: center;

  
}
.book-home-logged a {
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 1.2vw;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;


}
.book-home-logged a:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.2;
}
.book-home a{
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 1.2vw;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;

}
.book-home a:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.2;
}
.flash-messages-home{
    width: 15vw;
    display: flex;
    color: rgb(46, 8, 180);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1vw;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0.5vw;
    left: 40vw;
}
.flash-messages-logged{
    width: 15vw;
    display: flex;
    color: rgb(46, 8, 180);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1vw;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0.5vw;
    left: 26vw;


}
.pagination-home{

    width: 60vw;

}
.pagination-logged{
    
        width: 50vw;
    
    
}
.books-list{
    height: 25vw;
    box-shadow: 0 0 10px 0 rgba(22, 13, 110, 0.5);
    border-radius: 8px;
}
.logged-title{
    font-size: 2.5vw;
    font-weight: 700;
    margin: 1vw;
    color: rgb(15, 2, 73);
    margin-bottom: 3.7vw;

}
/*---------------login-------------*/
.login-container{
    background-color: rgb(222, 230, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40%;
    height : 80vh;
    border: 1px solid black;
    margin-top: 10vw;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  
}

.login-container label {
    font-size: 1.2vw;
    font-weight: 700;


}

.login-title{
    font-size: 3vw;
    font-weight: 700;
    margin: 1vw;
}

.login-container input {
    width: 19vw;
    height: 1.4vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
} 

 
.login-btn{
   background-color: rgb(209, 209, 201);
}
.login-btn:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;
}
.login-back a {
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    
}


/* register-----------*/
.register-container{
    display: flex;
    flex-direction: column;
align-items: center;
    align-content: center;
    width: 40%;
    height : 80vh;
    margin-top: 10vw;
    margin-right: auto;
    margin-left: auto;
  
}
.register-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 60vw;
    border-radius: 5px;;
    height: 30vw;
    width: 40vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  
    padding-top: 2vw;
}
.role-label{
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    width: 20vw;
    text-align: center;
}
.email-label{
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    text-align: center;
    position: relative;
    left:8vw;
}
.password-label{
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    text-align: center;
    position: relative;
    left:5vw;
}



.register-container input {
    width: 19vw;
    height: 1.4vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}

.register-title{
    font-size: 3vw;
    font-weight: 700;
    margin: 1vw;
}

.btn-cont{
    background-color: rgb(230, 197, 197);
    height: 5vw;
}
 
.register-btn{
   background-color: rgb(209, 209, 201);
}
.register-btn:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;
}

/*books-----------------*/

.main-container{
    background-color: rgb(222, 230, 222);
    display: grid;
    grid-template-columns: 30% 70%;
    height : 100vh;
    border: 1px solid black;
    margin: 0.3vw;
    border-radius: 5px;
    
}
.section-right{
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.section-left{
    margin-top: 7vw;
    margin-left: 0.5vw;
  
}

.books-ul{
    border: 2px solid rgb(202, 15, 15);
    height: 25vw;
    width :50vw ;

}
.books-li{
    height: 3vw;
  


}

.books-li h3 {
    font-size: 1.2vw;
    font-weight: 700;
    line-height: 1.2vw;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;

}

.pagination{
    background-color: rgb(71, 80, 160);
    display: flex;
    flex-wrap: wrap;

    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    align-items: center;
    align-content: center  }

    .pagination a {
        color: whitesmoke;
        font-size: 1.1vw;
        font-weight: 700;
    }

    .admin-panel{
        height: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        width: 35vw;

    }
    .admin-panel h1{
        font-size: 2vw;
        font-weight: 700;
        margin: 1vw;
    }

 .admin-panel button{
    font-size: 1.1vw;
    font-weight: 700;
   margin :  1vw auto;
    padding: 0.5vw;
    border: 1px solid black;
    border-radius: 5px;
    width: 10vw;
    text-align: center;
    background-color: rgb(71, 80, 160);
    color: whitesmoke;
    cursor: pointer;
    transition: 1s;
    height: 3vw;
    direction: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

 }
 
    .admin-panel button:hover{
        background-color: rgb(34, 57, 105);
        color: rgb(195, 198, 218);
        font-weight: 700;
        transition: 1s;
    }

.update-price-cont{
    background-color: rgb(222, 230, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height : 100vh;
    margin-top: 1vw;
   

}
.update-price-cont form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 60vw;
    border-radius: 5px;;
    height: 25vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  
    padding-top: 2vw;

}
.update-price-cont label{
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    width: 20vw;
    text-align: center;
         

}
.update-price-cont input {
    width: 18vw;
    height: 1.2vw;

    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
   
  
}
.update-price-cont select{
    width: 19vw;
    height: 3.2vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
    padding-left: 3vw;

  
    
}


/* ----------show book-----------------*/
.show-book-container{
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: 55% 45%;
 
    margin-top: 7vw;

    border-radius: 5px;;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  
}
.book-show{
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height : 100vh;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  
  
}
.book-cover{
    height: 35vw;
    width: 20vw;
    margin: 1vw;

    margin-top: 5vw ;
   
}
.cover{
    height: 35vw;
    width: 20vw;
    margin: 1vw;
   
}
.detail{
   
    height: 5vw;
    width:33vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border-bottom : 1px solid rgb(8, 7, 107);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}
.detail h3{
    font-size: 1.2vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;}
.detail p{
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
}
.detail a{
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
}

.detail a:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.2;
}

.delete-btn{
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.delete-btn:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.2;
}
/*-----------------authors-----------------*/

.authors-container{
    background-color: rgb(222, 230, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height : 100vh;
    margin-top: 7vw;
   
}
.authors-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 60vw;
    border-radius: 5px;;
    height: 80vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  

}
.authors-container h1{
    font-size: 3vw;
    font-weight: 700;
    margin-top: 2vw;
    color: rgb(7, 13, 61);

}
.field{
    display: flex;
    flex-direction: column;
    height: 5vw;
    width: 30vw;
    padding-left: 8vw;

}
.field-date{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30vw;
    padding-left: 8vw;

}
.field-about{
    display: flex;
    flex-direction: column;
    height: 6vw;
    width: 30vw;
    padding-left: 8vw;

 
    

}
.authors-container label{
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    width: 20vw;
text-align: center;
  
}
.authors-container input {
    width: 19vw;
    height: 1.2vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.authors-container select{
    width: 19vw;
    height: 1.2vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.field-btn{
    display: flex;
    width: 30vw;
    height: 5vw;
    padding-left: 8vw;
}
.add-author{
    font-size: 1.1vw;
    font-weight: 700;
   margin :  1vw auto;
    padding: 0.5vw;
    border: 1px solid black;
    border-radius: 5px;
    width: 8vw;
    text-align: center;
    background-color: rgb(71, 80, 160);
    color: whitesmoke;
    cursor: pointer;
    transition: 1s;
    height: 3vw;
    direction: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

 }
 .add-author:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;

}
.link-back{
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    padding-right: 3vw ;
}

/* list of authors */
.authors-list-container{
    background-color: rgb(222, 230, 222);
 display: flex;
 flex-direction: column;
    height : 80vh;
    width: 70%;
    margin-top: 7vw;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
 
}
.authors-list{
    background-color: rgb(222, 230, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 80vw;
    box-shadow: 0 0 10px 0 rgba(4, 3, 94, 0.5);;   
    margin-right: auto;
    margin-left: auto;
}

.author-ind{
    display: flex;
flex-direction: row;
    justify-content: space-around;
    height: 3.9vw;
    align-items: center;
    width: 50vw;
    box-shadow: 0 0 10px 0 rgba(7, 18, 121, 0.5);
}
.author-ind h5{
    font-size: 1.2vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
}
.author-ind p{
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
}
.author-ind a{
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
}
.author-ind a:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.2;
}
.authors-links{
    width:50vw ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.authors-links a{
    font-size: 1.2vw;
    font-weight: 700;
    margin: 0.4vw 0;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
}
.authors-links a:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.2;
}
.no-authors{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

/* author show */
.author-detail-cont{
    background-color: rgb(222, 230, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height : 80vh;
    width: 60vw;
    margin-top: 7vw;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  

}

.show-author-detail{
  height: 6vw;
  width: 40vw;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.show-author-detail h5{
    font-size: 1.2vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
}
.show-author-detail p{
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
}

.author-show-links{
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.author-show-links a{
    font-size: 1vw;
    font-weight: 700;
    margin: 0.4vw 0;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
}
.author-show-links a:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.2;
}
.delete-author-btn{
    font-size: 1vw;
    font-weight: 700;
    margin: 0.4vw 0;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    border: none;
    background-color: transparent;

}
.delete-author-btn:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.2;
}
/* edit author */
.edit-author-container{
  background-color: rgb(222, 230, 222);
  display: flex;
  flex-direction: column;
  height : 80vh;
  width: 70%;
  margin-top: 7vw;
  align-items: center;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}
.edit-author-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 60vw;
    border-radius: 5px;;
    height: 80vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  

}

.edit-author-container label{
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    width: 20vw;
    height: 1.2vw;
text-align: center;
}
.edit-author-container input {
    width: 19vw;
    height: 1.2vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.edit-author{
    font-size: 1vw;
    font-weight: 700;
   margin :  1vw auto;
    padding: 0.5vw;
    border: 1px solid black;
    border-radius: 5px;
    width: 6vw;
    text-align: center;
    background-color: rgb(71, 80, 160);
    color: whitesmoke;
    cursor: pointer;
    transition: 1s;
    height: 3vw;
    direction: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

 }
 .edit-author-btn{
    padding-right: 2vw;
 }
 .edit-author:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;
}
.edit-author-container a {
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    padding-right: 3vw ;
    margin-top: 1vw;
}
.edit-author-container a:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.2;
    }

.author-about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 40vw;
    border-radius: 5px;;
    height: 35vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  
    margin-top: 7vw;
    margin-left: auto;
    margin-right: auto;
}
.author-about-container h1 {
    font-size: 2vw;
    font-weight: 700;
    margin: 1vw;
    color: rgb(7, 13, 61);
}
.author-about-container p{
    font-size: 1.2vw;
    font-weight: 700;
    margin: 1vw;
    color: rgb(7, 13, 61);
    text-align: center;
}


/* ----------add book-----------------*/
.add-book-container{
    background-color: rgb(222, 230, 222);
 display: grid;
    grid-template-columns: 50% 50%;
    height : 80vh;
    margin-top: 8vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 80%;
    margin-right: auto ;
    margin-left: auto;  
}
.section-form-right{
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-form-right label{
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    text-align: center;
    width: 20vw;
    height: 1.2vw;
}
.section-form-right input {
    width: 19vw;
    height: 1.2vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.section-form-left{
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.section-form-left label{
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    text-align: center;
    width: 20vw;
    height: 1.2vw;
}
.section-form-left input {
    width: 19vw;
    height: 1.2vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.section-form-left select{
    width: 20vw;
    height: 3vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.section-form-left a {
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    
}
.section-form-left a:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.1;
    
}

.add-book-btn{
    font-size: 1vw;
    font-weight: 700;
   margin :  1vw auto;
    padding: 0.5vw;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(71, 80, 160);
    color: whitesmoke;
    cursor: pointer;
    transition: 1s;
    direction: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    right: 21vw;
    top:5vw;
 }
 .add-book-btn:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;
}
.add-book-link{
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    padding-right: 3vw ;
    margin-top: 1vw;
    position: relative;
    left: 38vw;
    top: 1vw
}
/*  ----publishers----*/
.publishers-container{
    background-color: rgb(222, 230, 222);
    display: flex;
    flex-direction: column;
    height : 80vh;
    width: 70%;
    margin-top: 7vw;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.publishers-title{
    font-size: 3vw;
    font-weight: 700;
    margin-top: 2vw;
    color: rgb(7, 13, 61);
}
.no-publishers{
    align-items: center;
    font-size: 2.3vw;
    color: rgb(7, 13, 61);
}
.no-publisher-link{
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    padding-right: 3vw ;
    margin-top: 1vw;
}
.no-publisher-link:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.1;
    
}
.search-publishers{
   width: 20vw;
   display: flex;
    flex-direction: row;
}
.search-publishers input{
    width: 12vw;
    height: 1.2vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1vw;
    font-weight: 700;
}
.search-publishers-btn{
    font-size: 1vw;
    font-weight: 700;
    margin :  1vw auto;
    padding: 0.5vw;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(71, 80, 160);
    color: whitesmoke;
    cursor: pointer;
    transition: 1s;
    direction: flex;
    justify-content: center;
    align-items: center;
    align-content: center;



}
.search-publishers-btn:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;
}
.publishers-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 80vw;
    width: 50vw;
    box-shadow: 0 0 10px 0 rgba(4, 3, 94, 0.5);;   
    margin-right: auto;
    margin-left: auto;
}
.publisher{
    height: 6vw;
    width: 50vw;
    display: grid;
    grid-template-rows: 50% 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);;
  
}
.publisher-up{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 0.5vw;
   
}
.publisher-down{
    background-color: rgb(222, 230, 222);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.publisher h2{
    font-size: 1.1vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
}
.publisher p{
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
}
.pub-links{
   text-decoration: none;
   border: none;
   color : rgb(50, 31, 131);
   font-size: 1.2vw;
   font-weight: 500;
   background: transparent;
}

 .pub-links:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.1;
}
.btn-pub{
    font-weight: 700;
}
.back-pub{
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    position: relative;
    top:20.5vw;

}

/* add publisher */
.add-publisher-container{
   background-color: rgb(222, 230, 222);
   display: flex;
   flex-direction: column;
   height : 80vh;
   width: 70%;
   margin-top: 7vw;
   border-radius: 5px;
   align-items: center;
   align-content: center;
   margin-right: auto;
   margin-left: auto;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.add-publisher-container h2{
    font-size: 3vw;
    font-weight: 700;
    margin-top: 2vw;
    color: rgb(7, 13, 61);
}
.add-publisher-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 60vw;
    border-radius: 5px;;
    height: 80vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  

}
.add-publisher-container label{
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    width: 20vw;
    height: 1.2vw;
text-align: center;
}
.add-publisher-container input {
    width: 19vw;
    height: 1.2vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}

.add-pub-btn{
    font-size: 1vw;
    font-weight: 700;
   margin :  1vw auto;
    padding: 0.5vw;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(71, 80, 160);
    color: whitesmoke;
    cursor: pointer;
    transition: 1s;
    direction: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
   position: relative;
}
.add-pub-btn:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;
}
.addpub-back-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.addpub-back-link a{
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    padding-right: 3vw ;
    margin-top: 0.4vw;
}
.addpub-back-link a:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.1;
    }

.update-btn{
   font-weight: 700;
   margin :  1vw auto;
   padding: 0.5vw;
   border: 1px solid black;
   border-radius: 5px;
   text-align: center;
   background-color: rgb(71, 80, 160);
   color: whitesmoke;
   cursor: pointer;
   transition: 1s;
   direction: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   position: relative;
   right: 1.4vw;
}

/* edit book */

.edit-book-container{

    display: flex;
    flex-direction: column;
    height : 100vh;
    width: 70%;
    margin-top: 7vw;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.edit-book-container h1{
    font-size: 3vw;
    font-weight: 700;
    margin-top: 2vw;
    color: rgb(7, 13, 61);
}
.edit-book-container form{

    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}
.edit-book-container label{
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    width: 20vw;
    height: 1.2vw;
    text-align: center;
}
.edit-book-container input {
    width: 19vw;
    height: 1.2vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.edit-book-container select{
    width: 20vw;
    height: 3vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.edit-btn {
    text-decoration: none;
    color: rgb(222, 217, 247);
    background-color :#4750A0 ;
    cursor: pointer;
}
.edit-btn:hover{
    color: rgb(107, 107, 112);
    font-weight: 700;
    transition: 1s;
    scale: 1.1;
}
.browser{
    display: flex;
flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
height: 40vw;
}
.browser p{
    font-size: 2vw;
    font-weight: 700;
    margin-top: 2vw;
    color: rgb(7, 13, 61);
}


.search-btn-mobile{
    display: none;
}

.login-btn-desk{
    display: flex;
}
.login-btn-mob{
    display: none;
}
.register-btn-mob{
    display: none;
}
.see-book-mob{
    display: none;
}

.add-author-mob{
    display: none;
}
.add-btn-mob{
    display: none;
}
.add-btn-desk{
    display: flex;
}
.home-author-desk{
    display: flex;  
}
.home-author-mob{
    display: none;
}
.add-book-btn-mob{
    display: none;
}

.edit-author-mob{
    display: none;
}
.add-pub-btn-mob{
    display: none;
}


.add-pub-btn-mob{
    display: none;
}

.update-btn-mob{
    display: none;
}
.edit-btn-mob{
    display: none;
   
}


/*=================  media queries ===================*/

@media only screen and (max-width: 770px) {

    .navbar-container{
        background-color: rgb(225, 227, 252);
        display: flex;
        flex-direction: column;
        height: 25vw;
       box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        width: 98%;
        z-index: 2;
        }
    .search-books-container{
        background-color: transparent;
        display: flex;
        width: 90vw;
        height: 10vw;
        justify-content: space-around;
        position: relative;
        bottom: 1vw;
    }
    .search-books-form{
        display: flex;
        width: 90vw;
        height: 10vw;
        justify-content: start;

    }
    .search-books-form input{
        width: 35vw;
        height: 10vw;
        border-radius: 5px;
        border: 1px solid rgb(27, 25, 25);
        padding: 0.5vw;
        font-size: 2.5vw;
        font-weight: 700;
    
    }
    .search-select{
        width: 25vw;
        height: 11.5vw;
        border-radius: 5px;
        border: 1px solid rgb(27, 25, 25);
        padding: 0.5vw;
        font-size: 2.5vw;
        font-weight: 700;
        margin: 0 1.2vw;
    }
    .search-btn{
 
        display: none;
    
    }
    .search-btn-mobile{
        display: flex;
        width: 15vw;
        font-size: 2vw;
    }
    .search-btn:hover{
        background-color: rgb(34, 57, 105);
        color: rgb(195, 198, 218);
        font-weight: 700;
        transition: 1s;
    }
    
    .logout-btn{
        background-color: rgb(233, 233, 228);
    
        font-size: 2.6vw;
        font-weight: 700;
        border-radius: 5px;
        border: 1px solid rgb(27, 25, 25);
        padding: 0.5vw;
        transition: 1s;
        height: 8vw;
        width: 15vw;
        position: relative;
        bottom: 0vw;
    }

    .login-btn{
        background-color: rgb(233, 233, 228);
        margin-right: 1vw;
        margin-left: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.6vw;
        font-weight: 700;
        border-radius: 5px;
        border: 1px solid rgb(8, 1, 32);
        padding: 0.5vw;
        transition: 1s;
        height: 6vw;
        width: 16vw;
        text-decoration: none;
        text-align: center;
    }
    .register-btn{
        background-color: rgb(212, 216, 230);
        margin-right: 1vw;
        margin-left: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.6vw;
        font-weight: 700;
        border-radius: 5px;
        border: 1px solid rgb(6, 5, 32);
        padding: 0.5vw;
        transition: 1s;
        height: 6vw;
        width: 16vw;
        text-decoration: none;
        text-align: center;
      
    }
    .nav-btns{

        width: 90vw;
        }
.home-container{
    background-color: rgb(222, 230, 222);
    display: flex;
    flex-direction: column;
  
    height : 80vh;
    width: 90%;
    margin-top: 28vw;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.home-container h1{
    font-size: 6vw;
    font-weight: 700;
    margin-top: 2vw;
    color: rgb(7, 13, 61);
    position: relative;
    bottom: 20vw;
}
.books-home{
    height: 60vw;
     width: 80vw;
     
    }
    .book-home{
       
        background-color: rgb(222, 230, 222);
        height: 15vw;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
   
.book-home h3{
    font-size: 3vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    color: rgb(7, 13, 61);
}
.book-home p{
    font-size: 2.5vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    color: rgb(7, 13, 61);
    line-height: 2.4vw;
    
}
.book-home a{
    font-size: 2.5vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    color: rgb(7, 13, 61);
    line-height: 2.4vw;
    text-decoration: none;
}

.login-container{
    background-color: rgb(222, 230, 222);
    display: flex;
    flex-direction: column;

  
    width: 90%;
    height : 80vh;
    border: 1px solid black;
    margin-top: 28vw;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  
}
.login-container form{
    height: 100vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 2vw;
}

.login-container label {
    font-size: 3vw;
    font-weight: 700;
    position: relative;
  
    position: relative;
    left: 25vw;



}

.login-title{
    font-size: 6vw;
    font-weight: 700;
}

.login-container input {
    width: 60vw;
    height: 6vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
} 

 
.login-btn{
   background-color: rgb(209, 209, 201);
 
}
.login-btn:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;
}
.login-back a {
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    font-size: 5vw;
    
}
.login-btn-desk{
    display: none;
}
.login-btn-mob{
    display: flex;
}


.register-container{
    display: flex;
    flex-direction: column;
align-items: center;
    align-content: center;
    width: 95%;
    height : 100vh;
    margin-top: 30vw;
    margin-right: auto;
    margin-left: auto;
  
}
.register-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 90vw;
    border-radius: 5px;;
    height: 100vw;

    
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  
    padding-top: 2vw;
}



.register-container input {
    width: 55vw;
    height: 5vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.register-container label{
    font-size: 3vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    width: 20vw;
    height: 1.2vw;
}

.register-title{
    font-size: 5vw;
    font-weight: 700;
    margin: 1vw;
}

.btn-cont{
    background-color: rgb(230, 197, 197);
    height: 5vw;
}
 


.register-btn:hover{
    background-color: rgb(34, 57, 105);
    color: rgb(195, 198, 218);
    font-weight: 700;
    transition: 1s;
}
.register-btn-mob{
    display: flex;
}
.register-btn-desk{
    display: none;
}
.brand{
    display: flex;
font-size: 5.5vw;
color: rgba(11, 12, 97, 0.5);
}

.main-container{
    background-color: rgb(222, 230, 222);    display: grid;
display: flex;
flex-direction: column;
    height : 180vw;
    border: 1px solid black;
    margin: 0.3vw;
    border-radius: 5px;
    
}

.section-right{
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80vw;
    bottom: 48vw;
    
}
.section-right h1{
    font-size: 5vw;
    font-weight: 700;
    margin: 1vw;
    color: rgb(7, 13, 61);

}
.books-list{
    height: 120vw;
    width: 90vw;
    box-shadow: 0 0 10px 0 rgba(22, 13, 110, 0.5);
    border-radius: 8px;
    margin-top: 5vw;
}
.book-home-logged{
    height: 15vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.book-title-logged h3{
    font-size: 3vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    color: rgb(7, 13, 61);
}
.book-title-logged p{
    font-size: 2.5vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    color: rgb(7, 13, 61);
    line-height: 2.4vw;
}
.book-author-logged h3{
    font-size: 3vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    color: rgb(7, 13, 61);
}
.book-author-logged p {
    font-size: 2.5vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    color: rgb(7, 13, 61);
    line-height: 2.4vw;
}

.see-book-mob{
    font-size: 2.5vw;
    line-height: 2vw;
    display: flex;
}
.see-book-desk{
    display: none;
}
.section-left {
    position: relative;
    top: 110vw;
    width: 90vw;
    left: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}


.admin-panel{
    height: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;;
    align-items: center;

    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 90vw;
    margin-right: auto;
    margin-left: auto;

}
.admin-panel h1{
    font-size: 6vw;
    font-weight: 700;
    margin: 1vw;
}

.admin-panel button{
font-size: 3vw;
font-weight: 700;
margin :  1vw auto;
padding: 0.5vw;
border: 1px solid black;
border-radius: 5px;
width: 10vw;
text-align: center;
background-color: rgb(71, 80, 160);
color: whitesmoke;
cursor: pointer;
transition: 1s;
height: 7vw;
width: 22vw;
direction: flex;
justify-content: center;
align-items: center;
align-content: center;

}
.authors-container h1{
    font-size: 5vw;

    height: auto;
}
.authors-container form{
    height: 140vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 20vw;
    margin-bottom: 6vw;
}
.authors-container label{
    font-size: 3vw;
    font-weight: 700;
    color: rgb(7, 13, 61);
    justify-self: center;
    width: 20vw;
    height: 1.2vw;
    margin-bottom: 2vw;


}

.field{
   
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 15vw;
}
.field input{
    width: 70vw;
    height: 7vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.field-date{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 15vw;

}
.field-date input{
    width: 70vw;
    height: 7vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}

.field-about{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 15vw;
}
.field-about input{
    width: 70vw;
    height: 7vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
        }

        .add-author{
            display: none;
        }
        .add-author-mob{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 90vw;
            height: 10vw;
        }
.link-back{
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
    padding-right: 3vw ;
    margin-top: 1vw;
    position: relative;
    left: 0vw;
    top: 5vw
}
.authors-list-container{
  height: 180vw;
  width: 95vw;

}
.authors-list-container h1{
    font-size: 5vw;
    font-weight: 700;
    margin: 1vw;
    color: rgb(7, 13, 61);
    position: relative;
    top : 20vw;

}
.authors-list{
    width: 92vw;
    height: 110vw;
    margin-top: 30vw;

}

.author-ind{
    height: 15vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
   
}
.author-ind h5{
    font-size: 3vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    color: rgb(7, 13, 61);
}
.author-ind p{
    font-size: 2.5vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    color: rgb(7, 13, 61);
    line-height: 2.4vw;
}
.author-ind a{
    font-size: 2.5vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    color: rgb(7, 13, 61);
    line-height: 2.4vw;
    text-decoration: none;
}
.authors-links{
    width: 92vw;
}
.add-btn-mob{
    display: flex;
}
.add-btn-desk{
    display: none;
}
.home-author-desk{
    display: none;  
}
.show-book-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 90%;
    height : 100vh;
    margin-top: 30vw;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.detail{
   
    height: 15vw;
    width:70vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border-bottom : 1px solid rgb(8, 7, 107);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}
.detail h3{
    font-size: 3.4vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;}
.detail p{
    font-size: 3vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
}
.detail a{
    font-size: 2.6vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
}
.delete-btn{
    font-size: 2.6vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;
}

.author-about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 90%;
    height : 100vh;
    margin-top: 30vw;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}
.author-about-container h1{
    font-size: 5vw;
    font-weight: 700;
    margin: 1vw;
    color: rgb(7, 13, 61);
    position: relative;
    top : 20vw;
}
.author-about-container p{
    font-size: 3vw;
    font-weight: 700;
    margin: 1vw;
    color: rgb(7, 13, 61);
    position: relative;
    top : 20vw;
}

.author-detail-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 90%;
    height : 60vh;
    margin-top: 30vw;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.show-author-detail{
    width: 90%;
    height : 40vw;

}
.show-author-detail h5{
    font-size: 4vw;
    font-weight: 700;
}
.show-author-detail p{
    font-size: 3vw;
    font-weight: 700;
}
.author-show-links{
    width: 81vw;
}
.author-show-links a{
    text-decoration: none;
    color: rgb(27, 8, 112);
    cursor: pointer;
    font-size: 2vw;
 
  
}
.delete-author-btn{
    font-size: 2.2vw;
}


.add-book-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top:35vw;
    justify-content: space-evenly;
    height: 170vw;
    width: 90vw;

}
.add-book-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 90vw;
    height: 90vw;
}
.add-book-container label{
    font-size: 3.2vw;
    margin-bottom: 5.5vw;
}
.add-book-container select{
    width: 72vw;
    height: 7vw;
    margin-top: 2vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
    
}
.review-label-mob{
    position: relative;
    bottom: 2vw;
}
.add-book-btn{
    display: none;
}
.add-book-btn-mob{
    display: flex;
    background-color: #4750A0;
    color: #fffdfd;
}

.edit-author-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 90%;
    height : 130vh;
    margin-top: 30vw;
    margin-right: auto;
    margin-left: auto;

    border-radius: 5px;
}
.edit-author-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 90vw;
    height: 110vw;
}
.edit-author-container label{
    font-size: 3.2vw;
    margin-bottom: 5.5vw;
}
.edit-author-container input{
    width: 72vw;
    height: 9vw;
    margin-top: 2vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.edit-author{
    display: none;
}
.edit-author-mob{
    display: flex;
    background-color: #4750A0;
    color: #fffdfd;
}

.publishers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 95%;
    height : 130vh;
    margin-top: 30vw;
    margin-right: auto;
    margin-left: auto;

    border-radius: 5px;
}
.publishers-container h1{
    font-size: 5vw;
    font-weight: 700;
    margin: 1vw;
    color: rgb(7, 13, 61);
   
}
.publishers-list{
    width: 92vw;
    height: 110vw;
    margin-top: 5vw;
}
.publisher{
    height: 15vw;
    width: 90vw;
}

.publisher-up h2{
    font-size: 2.5vw;
    
}
.publisher-up p{
    font-size: 2.5vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
}
.publisher-down a {
    font-size: 2.5vw;
    font-weight: 700;
    margin: 1vw;
    padding: 0;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 31, 131);
    cursor: pointer;

}
.btn-pub{
    font-size: 2vw;
}
.add-publisher-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 90%;
    height : 60vh;
    margin-top: 30vw;
    margin-right: auto;
    margin-left: auto;
  
}
.add-publisher-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 90vw;
    height: 90vw;

}
.add-publisher-container label{
    font-size: 3.2vw;
    margin-bottom: 5.5vw;
}
.add-publisher-container input{
    width: 72vw;
    height: 9vw;
    margin-top: 2vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 3vw;
    font-weight: 700;
}
.add-pub-btn-mob{
    display: flex;
    background-color: #4750A0;
    color: #fffdfd;
}
.add-pub-btn{
    display: none;}

    .update-price-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 90%;
        height : 80vh;
        margin-top: 30vw;
        margin-right: auto;
        margin-left: auto;
    }
 .edit-title{
      display: none;
 }
    .update-price-cont form{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        width: 90vw;
        height: 90vw;
    }
    .update-price-cont label{
        font-size: 3.2vw;
        margin-bottom: 5.5vw;
    }
    .update-price-cont input{
        width: 72vw;
        height: 9vw;
        margin-top: 2vw;
        border-radius: 5px;
        border: 1px solid rgb(27, 25, 25);
        padding: 0.5vw;
        font-size: 3vw;
        font-weight: 700;
    }
    .update-price-cont select{
        width: 72vw;
        height: 12vw;
        margin-top: 2vw;
        border-radius: 5px;
        border: 1px solid rgb(27, 25, 25);
        padding: 0.5vw;
        font-size: 1.2vw;
        font-weight: 700;
    }
    .add-pub-btn-mob{
        display: flex;
        background-color: #4750A0;
        color: 
        #fffdfd;
    }
    .add-pub-btn{
        display: none;
    }
    .update-btn-mob{
        display: flex;
        background-color: #4750A0;
        color: whitesmoke;
                                    
    }
    .update-btn{
        display: none;
    }
    .edit-book-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 90%;
        height : 130vh;
        margin-top: 30vw;
        margin-right: auto;
        margin-left: auto;
       border-radius: 5px;
}
.edit-book-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 90vw;
    height: 110vw;
}
.edit-book-container label{
    font-size: 3.2vw;
    margin-bottom: 5.5vw;

}
.edit-book-container input{
    width: 72vw;
    height: 10vw;
    margin-top: 2vw;
    border-radius: 5px;
    border: 1px solid rgb(27, 25, 25);
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}
.edit-btn-mob{
    display: flex;
    background-color: #4750A0;
    color: whitesmoke;
}
.edit-btn{
    display: none;  
}
.browser{
    display: none;

}
.browser p{
    font-size: 2vw;
    font-weight: 700;
    margin-top: 2vw;
    color: rgb(7, 13, 61);
}




}